# --- Environment ------------------------------------------------------------------------------------------------------
# development, staging, production
ENV_STATE=development
NETWORK_NAME=tvorcha-network

# --- Logging ----------------------------------------------------------------------------------------------------------
LOGGING_LEVEL_CONSOLE=INFO
LOGGING_LEVEL_FILE=WARNING

LOG_FILE_MAX_SIZE=10
LOG_FILE_BACKUP_COUNT=5

# --- Docker -----------------------------------------------------------------------------------------------------------
DOCKER_NETWORK_NAME=tvorcha-network
DOCKER_VOLUME_NAME=tvorcha-efs
DOCKER_VOLUME_PATH=/mnt/efs

# --- Postgres ---------------------------------------------------------------------------------------------------------
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# --- Redis ------------------------------------------------------------------------------------------------------------
REDIS_PORT=6379
REDIS_BROKER_URL="redis://redis:${REDIS_PORT}/0"

# --- RabbitMQ ---------------------------------------------------------------------------------------------------------
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_BROKER_URL="pyamqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}//"

# --- Celery -----------------------------------------------------------------------------------------------------------
CELERY_BROKER_URL="${RABBITMQ_BROKER_URL}"
CELERY_RESULT_BACKEND="${REDIS_BROKER_URL}"

# --- AWS S3 Bucket ----------------------------------------------------------------------------------------------------
AWS_ACCESS_KEY_ID=********************
AWS_SECRET_ACCESS_KEY=****************************************

AWS_S3_BUCKET_NAME=tvorcha-lavka
AWS_S3_CUSTOM_DOMAIN="${AWS_S3_BUCKET_NAME}.s3.amazonaws.com"
