{%- set workers = [
  ("s3-upload", 1, 1, "512m"),
  ("db-upload", 1, 1, "512m"),
] -%}

{%- set env_file = "../.env" -%}
{%- set restart_policy = "always" -%}
{%- set image_tag = "tvorchalavka/file-uploader:latest" -%}

services:
{%- for worker, count, cpu, mem in workers %}
  # --- Workers for `{{ worker }}` ----------------------
{% for i in range(1, count + 1) %}
  celery-{{ worker }}-worker-{{ i }}:
    image: {{ image_tag }}
    container_name: celery-{{ worker }}-worker-{{ i }}
    command: /scripts/entrypoint.py --worker {{ worker }}
    env_file: {{ env_file }}
    restart: {{ restart_policy }}
    networks:
      - tvorcha-network
    volumes:
      - tvorcha-efs:/mnt/efs
    mem_limit: {{ mem }}
    cpus: {{ cpu }}
{% endfor %}
{%- endfor %}

networks:
  tvorcha-network:
    external: true

volumes:
  tvorcha-efs:
    external: true

